<div class="grid-cols-1 flex justify-center bg-main min-h-[71.5vh]">
    <div class="flex justify-center">
        <div
            class="flex flex-col xl:w-[1000px] lg:w-[980px] md:w-[720px] sm:w-[600px] w-[350px] md:flex-row my-7 rounded-lg shadow-lg bg-card">
            <div class="flex sm:flex sm:justify-center justify-center">
                <img src="../../../../assets/iconoPerfilBlanco.png" class="lg:w-[100px] bg-button rounded-full p-3 m-10"
                    alt="Imagen no disponible" width="100px">
            </div>
            <div
                class="flex xl:w-[80%] xl:pt-10 lg:w-[80%] lg:pt-10 md:w-[80%] md:pt-10 sm:pt-0 pt-0 flex-col justify-start p-10">
                <div>
                    <h5 class="text-white text-3xl font-medium mb-2">{{userLogged?.userName | titlecase}}</h5>
                    <p class="text-gray-600 text-lg">Miembro desde {{userLogged?.subscriptionDate | date: 'dd/MM/yyyy'}}
                    </p>
                </div>
                <div class="mt-8">
                    <p class="text-white text-2xl title mb-3">Información de la cuenta</p>
                    <hr>
                </div>
                <div *ngIf="!showUpdateUser; else updateContainer">
                    <div class="mt-5 md:flex-row rounded-lg shadow-lg p-8 bg-card">
                        <div class="">
                            <p class="text-white text-lg"><b>Nombre de usuario</b></p>
                            <p class="text-gray-500">{{userLogged?.userName}}</p>
                        </div>
                        <div class="mt-5">
                            <p class="text-white text-lg"><b>Email</b></p>
                            <p class="text-gray-500">{{userLogged?.email}}</p>
                        </div>
                        <div class="mt-5">
                            <p class="text-white text-lg"><b>Teléfono</b></p>
                            <p class="text-gray-500">{{userLogged?.phoneNumber}}</p>
                        </div>
                        <div class="mt-5">
                            <p class="text-white text-lg"><b>Contraseña</b></p>
                            <p class="text-gray-500">******</p>
                        </div>
                        <div class="mt-2 flex justify-end">
                            <button pButton pRipple type="button" icon="pi pi-cog"
                                class="p-button p-button-help p-button-outlined mr-7"
                                (click)="menu.toggle($event)"></button>
                            <p-tieredMenu #menu [model]="menuOptions" [popup]="true"></p-tieredMenu>
                        </div>
                    </div>
                </div>

                <ng-template #updateContainer>
                    <ng-container *ngIf="showProfileForm; else showPasswordForm">
                        <div class="flex mt-5 xl:justify-center lg:justify-center md:justify-center sm:justify-center rounded-lg shadow-lg p-8 bg-card">
                            <form [formGroup]="userDataForm" (ngSubmit)="updateUserData()"
                                class="flex xl:w-[90%] xl:pt-10 xl:justify-center lg:w-[90%] lg:pt-10 lg:justify-center md:w-[100%] md:pt-10 md:justify-center sm:w-[90%] sm:pt-10 sm:justify-center w-[100%] pt-5 justify-center flex-col items-center px-5 border border-gray-500 rounded-lg" autocomplete="off">
                                <div class="grid-cols-1 lg:w-[70%] w-[100%]">
                                    <span class="p-float-label">
                                        <input pInputText id="userName" formControlName="userName" class="w-[100%]"
                                            [value]="userLogged?.userName" />
                                        <label htmlFor="userName">Nombre de usuario *</label>
                                    </span>

                                    <span *ngIf="isValidField(userDataForm, 'userName')"
                                        class="text-red-500">{{getFieldError(userDataForm, "userName")}}</span>
                                </div>

                                <div class="mt-10 grid-cols-1 lg:w-[70%] w-[100%]">
                                    <span class="p-float-label">
                                        <input pInputText id="email" formControlName="email" class="w-[100%]"
                                            [value]="userLogged?.email" />
                                        <label htmlFor="email">Email *</label>
                                    </span>

                                    <span *ngIf="isValidField(userDataForm, 'email')"
                                        class="text-red-500">{{getFieldError(userDataForm,"email")}}</span>
                                </div>

                                <div class="mt-10 grid-cols-1 lg:w-[70%] w-[100%]">
                                    <span class="p-float-label">
                                        <input pInputText id="phoneNumber" formControlName="phoneNumber" class="w-[100%]"
                                            [value]="userLogged?.phoneNumber" />
                                        <label htmlFor="phoneNumber">Teléfono</label>
                                    </span>

                                    <span *ngIf="isValidField(userDataForm, 'phoneNumber')"
                                        class="text-red-500">{{getFieldError(userDataForm, "phoneNumber")}}</span>
                                </div>

                                <div
                                    class="flex justify-around sm:flex-row sm:w-[300px] sm:space-y-0 flex-col w-[100px] space-y-4 mb-5 mt-10">

                                    <button pButton pRipple type="submit" label="Aceptar"
                                        class="p-button-outlined p-button-help"></button>


                                    <button pButton pRipple type="button" label="Cancelar"
                                        class="p-button-outlined p-button-secondary" (click)="hideForm()"></button>
                                </div>
                            </form>
                        </div>
                    </ng-container>


                    <ng-template #showPasswordForm>
                        <div
                            class="flex mt-5 xl:justify-center lg:justify-center md:justify-center sm:justify-center rounded-lg shadow-lg p-8 bg-card">
                            <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()"  class="flex xl:w-[90%] xl:pt-10 xl:justify-center lg:w-[90%] lg:pt-10 lg:justify-center md:w-[100%] md:pt-10 md:justify-center sm:w-[90%] sm:pt-10 sm:justify-center w-[100%] pt-5 justify-center flex-col items-center px-5 border border-gray-500 rounded-lg" autocomplete="off">
                                
                                <div class="mt-10 grid-cols-1 lg:w-[70%] w-[100%]">
                                    <span class="p-float-label ">
                                        <p-password formControlName="currentPassword" [feedback]="false" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"></p-password>
                                        <label htmlFor="currentPassword">Contraseña actual *</label>
                                    </span>
                
                                    <span *ngIf="isValidField(passwordForm, 'currentPassword')" class="text-red-500">{{getFieldError(passwordForm,  "currentPassword")}}</span>
                                </div>

                                <div class="mt-10 grid-cols-1 lg:w-[70%] w-[100%]">
                                    <span class="p-float-label ">
                                        <p-password formControlName="password" [feedback]="true" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"></p-password>
                                        <label htmlFor="password">Nueva contraseña *</label>
                                    </span>
                
                                    <span *ngIf="isValidField(passwordForm, 'password')" class="text-red-500">{{getFieldError(passwordForm, "password")}}</span>
                                </div>

                                <div class="mt-10 grid-cols-1 lg:w-[70%] w-[100%]">
                                    <span class="p-float-label ">
                                        <p-password formControlName="password2" [feedback]="false" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"></p-password>
                                        <label htmlFor="password2">Repite la nueva contraseña *</label>
                                    </span>
                
                                    <span *ngIf="isValidField(passwordForm, 'password2')" class="text-red-500">{{getFieldError(passwordForm, "password2")}}</span>
                                </div>

                                <div *ngIf="passwordError" class="flex justify-center w-[100%] mt-5">
                                    <p class="text-red-500">{{passwordErrorMessage}}</p>
                                </div>

                                <div
                                    class="flex justify-around sm:flex-row sm:w-[300px] sm:space-y-0 flex-col w-[100px] space-y-4 mb-5 mt-10">
                                    <button pButton pRipple type="submit" label="Aceptar"
                                        class="p-button-outlined p-button-help"></button>
                                    <button pButton pRipple type="button" label="Cancelar"
                                        class="p-button-outlined p-button-secondary"
                                        (click)="hidePasswordForm()"></button>
                                </div>
                            </form>
                        </div>
                    </ng-template>
                </ng-template>
            </div>
        </div>
    </div>
</div>