<div class="grid-cols-1 flex justify-center bg-main min-h-[71.5vh]">
    <div class="flex justify-center">
        <div
            class="flex flex-col xl:w-[1000px] lg:w-[980px] md:w-[720px] sm:w-[600px] w-[350px] md:flex-row my-7 rounded-lg shadow-lg bg-card">
            <div class="flex sm:flex sm:justify-center justify-center">
                <img src="../../../../assets/iconoPerfilBlanco.png" class="lg:w-[100px] bg-button rounded-full p-3 m-10"
                    alt="Imagen no disponible" width="100px">
            </div>
            <div
                class="flex xl:w-[80%] xl:pt-10 lg:w-[80%] lg:pt-10 md:w-[80%] md:pt-10 sm:pt-0 pt-0 flex-col justify-start p-10">
                <div>
                    <h5 class="text-white text-3xl font-medium mb-2">{{userLogged?.userName | titlecase}}</h5>
                    <p class="text-gray-600 text-lg">Miembro desde {{userLogged?.subscriptionDate | date: 'dd/MM/yyyy'}}
                    </p>
                </div>
                <div class="mt-8">
                    <p class="text-white text-2xl title mb-3">Información de la cuenta</p>
                    <hr>
                </div>
                <div *ngIf="!showUpdateUser; else updateContainer">
                    <div class="mt-5 md:flex-row rounded-lg shadow-lg p-8 bg-card">
                        <div class="">
                            <p class="text-white text-lg"><b>Nombre de usuario</b></p>
                            <p class="text-gray-500">{{userLogged?.userName}}</p>
                        </div>
                        <div class="mt-5">
                            <p class="text-white text-lg"><b>Email</b></p>
                            <p class="text-gray-500">{{userLogged?.email}}</p>
                        </div>
                        <div class="mt-5">
                            <p class="text-white text-lg"><b>Teléfono</b></p>
                            <p class="text-gray-500">{{userLogged?.phoneNumber}}</p>
                        </div>
                        <div class="mt-5">
                            <p class="text-white text-lg"><b>Contraseña</b></p>
                            <p class="text-gray-500">******</p>
                        </div>
                        <div class="mt-2 flex justify-end">
                            <button pButton pRipple type="button" icon="pi pi-cog"
                                class="p-button p-button-help p-button-outlined mr-7"
                                (click)="menu.toggle($event)"></button>
                            <p-tieredMenu #menu [model]="menuOptions" [popup]="true"></p-tieredMenu>
                        </div>
                    </div>
                </div>

                <ng-template #updateContainer>
                    <ng-container *ngIf="showProfileForm; else showPasswordForm">
                        <div class="flex mt-5 xl:justify-center lg:justify-center md:justify-center sm:justify-center rounded-lg shadow-lg p-8 bg-card">
                            <form (ngSubmit)="updateUserData(userName.value, email.value, phoneNumber.value)"
                                class="flex xl:w-[90%] xl:pt-10 xl:justify-center lg:w-[90%] lg:pt-10 lg:justify-center md:w-[100%] md:pt-10 md:justify-center sm:w-[90%] sm:pt-10 sm:justify-center w-[100%] pt-5 justify-center flex-col items-center px-5 border border-gray-500 rounded-lg">
                                <div class="grid-cols-1 xl:w-[70%] lg:w-[70%] md:w-[100%] sm:w-[100%] w-[100%]">
                                    <label for="userName"
                                        [class]="updateError ? 'block text-sm font-medium leading-6 text-red-500': 'block text-sm font-medium leading-6 text-gray-500'">Nombre
                                        de usuario</label>
                                    <input type="text" name="userName" id="userName" #userName
                                        [value]="userLogged?.userName" autocomplete="given-name"
                                        [class]="updateError ? 'rounded-lg p-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 border border-red-500 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-violet-600 sm:text-md w-[100%]' : 'rounded-lg p-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-violet-600 sm:text-md w-[100%]'"
                                        placeholder="Usuario_95">
                                </div>
                                <div class="mt-7 grid-cols-1 xl:w-[70%] lg:w-[70%] md:w-[100%] sm:w-[100%] w-[100%]">
                                    <label for="email"
                                        [class]="updateError ? 'block text-sm font-medium leading-6 text-red-500': 'block text-sm font-medium leading-6 text-gray-500'">Email</label>
                                    <input type="text" name="email" id="email" #email [value]="userLogged?.email"
                                        autocomplete="given-name"
                                        [class]="updateError ? 'rounded-lg p-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 border border-red-500 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-violet-600 sm:text-md w-[100%]' : 'rounded-lg p-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-violet-600 sm:text-md w-[100%]'"
                                        placeholder="email@example.com">
                                </div>
                                <div
                                    class="mt-7 mb-7 grid-cols-1 xl:w-[70%] lg:w-[70%] md:w-[100%] sm:w-[100%] w-[100%]">
                                    <label for="phoneNumber"
                                        [class]="updateError ? 'block text-sm font-medium leading-6 text-red-500': 'block text-sm font-medium leading-6 text-gray-500'">Teléfono</label>
                                    <input type="text" name="phoneNumber" id="phoneNumber" #phoneNumber
                                        [value]="userLogged?.phoneNumber" autocomplete="given-name"
                                        [class]="updateError ? 'rounded-lg p-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 border border-red-500 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-violet-600 sm:text-md w-[100%]' : 'rounded-lg p-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-violet-600 sm:text-md w-[100%]'"
                                        placeholder="600000000">
                                </div>

                                <div *ngIf="updateError" class="flex justify-center w-[100%]">
                                    <p class="text-red-500">Introduce todos los campos o campos válidos</p>
                                </div>

                                <div *ngIf="passwordError" class="flex justify-center w-[100%]">
                                    <p class="text-red-500">Las contraseñas deben ser iguales</p>
                                </div>

                                <div
                                    class="flex justify-around sm:flex-row sm:w-[300px] sm:space-y-0 flex-col w-[100px] space-y-4 mb-5">
                                    <!-- <a routerLink="/user/profile"></a> -->
                                    <button pButton pRipple type="submit" label="Aceptar"
                                        class="p-button-outlined p-button-help"></button>
                                    <button pButton pRipple type="button" label="Cancelar"
                                        class="p-button-outlined p-button-secondary" (click)="hideForm()"></button>
                                </div>
                            </form>
                        </div>
                    </ng-container>


                    <ng-template #showPasswordForm>
                        <div class="flex mt-5 xl:justify-center lg:justify-center md:justify-center sm:justify-center rounded-lg shadow-lg p-8 bg-card">
                            <div class="flex xl:w-[90%] xl:pt-10 xl:justify-center lg:w-[90%] lg:pt-10 lg:justify-center md:w-[100%] md:pt-10 md:justify-center sm:w-[90%] sm:pt-10 sm:justify-center w-[100%] pt-5 justify-center flex-col items-center px-5 border border-gray-500 rounded-lg">
                                <div class="mt-7 grid-cols-1 xl:w-[70%] lg:w-[70%] md:w-[100%] sm:w-[100%] w-[100%]">
                                    <label for="currentPassword"
                                        [class]="updateError || passwordError ? 'block text-sm font-medium leading-6 text-red-500': 'block text-sm font-medium leading-6 text-gray-500'">Contraseña actual</label>
                                    <input type="password" name="currentPassword" id="currentPassword" autocomplete="given-name"
                                        [class]="updateError || passwordError ? 'rounded-lg p-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 border border-red-500 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-violet-600 sm:text-md w-[100%]' : 'rounded-lg p-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-violet-600 sm:text-md w-[100%]'"
                                        placeholder="********" [(ngModel)]="currentPassword">
                                </div>

                                <div class="mt-7 grid-cols-1 xl:w-[70%] lg:w-[70%] md:w-[100%] sm:w-[100%] w-[100%]">
                                    <label for="password"
                                        [class]="updateError || passwordError ? 'block text-sm font-medium leading-6 text-red-500': 'block text-sm font-medium leading-6 text-gray-500'">Contraseña</label>
                                    <input type="password" name="password" id="password" autocomplete="given-name"
                                        [class]="updateError || passwordError ? 'rounded-lg p-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 border border-red-500 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-violet-600 sm:text-md w-[100%]' : 'rounded-lg p-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-violet-600 sm:text-md w-[100%]'"
                                        placeholder="********" [(ngModel)]="password">
                                </div>
        
                                <div class="mt-7 mb-7 grid-cols-1 xl:w-[70%] lg:w-[70%] md:w-[100%] sm:w-[100%] w-[100%]">
                                    <label for="password2"
                                        [class]="updateError || passwordError ? 'block text-sm font-medium leading-6 text-red-500': 'block text-sm font-medium leading-6 text-gray-500'">Repite
                                        la contraseña</label>
                                    <input type="password" name="password2" id="password2" autocomplete="given-name"
                                        [class]="updateError || passwordError ? 'rounded-lg p-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 border border-red-500 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-violet-600 sm:text-md w-[100%]' : 'rounded-lg p-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-violet-600 sm:text-md w-[100%]'"
                                        placeholder="********" [(ngModel)]="password2">
                                </div>
        
                                <div
                                    class="flex justify-around sm:flex-row sm:w-[300px] sm:space-y-0 flex-col w-[100px] space-y-4 mb-5">
                                    <!-- <a routerLink="/user/profile"></a> -->
                                    <button pButton pRipple type="submit" label="Aceptar"
                                        class="p-button-outlined p-button-help" (click)="updatePassword()"></button>
                                    <button pButton pRipple type="button" label="Cancelar"
                                        class="p-button-outlined p-button-secondary" (click)="hidePasswordForm()"></button>
                                </div>
                            </div>
                            
                        </div>
                    </ng-template>
                </ng-template>
            </div>
        </div>
    </div>
</div>