form {
    width: 500px;
}

h1 {
    font-family: 'Audiowide', cursive;
}

input {
    width: 100%;
}

.main {
    background: url('../../../../assets/2322.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.rojo {
    border: 1px solid red;
}