<div class="grid-cols-1 flex justify-center min-h-[71.5vh] bg-main">
    <div class="flex justify-center items-center w-[100%]">
        <div class="flex flex-col justify-center items-center bg-card xl:w-[800px] lg:w-[800px] md:w-[750px] sm:w-[630px] w-[320px] rounded-lg">
            <div class="flex flex-col xl:w-[700px] lg:w-[700px] md:w-[650px] sm:w-[530px] w-[250px] justify-center items-center m-10 bg-card rounded-lg">
                <div class="mt-10">
                    <img src="../../../../assets/mando ps4.png" alt="Logo no disponible" width="100px">
                </div>
                <p class="text-white text-2xl mt-7 text-center">¡Gracias por tu compra!</p>
                <p class="text-gray-500 text-lg my-3 mb-10">Revisa tu perfil para acceder al código de descarga de tus juegos</p>
                <div class="flex justify-around mb-[40px] xl:flex-row lg:flex-row md:flex-row sm:flex-row flex-col items-center w-[60%]">
                    <a routerLink="/games/all">
                        <button pButton pRipple type="button" label="Volver al inicio" class="p-button-outlined p-button-help" ></button>
                    </a>
                    
                    <a routerLink="/user/wishlist" class="xl:m-0 lg:m-0 md:m-0 sm:mx-5 sm:mt-0 mt-5">
                        <button pButton pRipple type="button" label="Seguir comprando" class="p-button-outlined p-button-help"></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>