<div class="grid-cols-1 flex justify-center bg-main min-h-[71.5vh]" id="main">

    <div class="flex justify-center items-center">
        <div class="p-[40px] min-h-[270px] my-7 rounded-lg shadow-lg min-w-4xl bg-forms">
            <h1 class="text-white text-4xl leading-tight font-medium mb-2">Agregar videojuegos</h1>
            <hr>

            <p class="text-gray-300 text-lg p-5 my-5">Carga un archivo con extensión ".csv" para añadir uno o varios
                juegos</p>

            <div class="flex justify-center text-white">

                <div class="text-center flex  items-center">
                    <input class="form-control" type="file" name="file" accept=".csv" (change)="onChange($event)">

                    <p-button label="Cargar" styleClass="p-button-outlined p-button-help" class="ml-3"
                        (click)="onUpload()"></p-button>

                </div>
            </div>

            <div class="flex justify-center my-5">
                <span *ngIf="showLoadError" class="text-red-500">Se ha producido un error al cargar videojuegos</span>
            </div>
        </div>
    </div>
</div>