.card:hover {scale: 1.05; transition: 0.7s; box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);}

img {
    height: 350px;
}

.paginator::ng-deep .ngx-pagination .current {
  background: rgb(174, 0, 255);
}

.paginator::ng-deep .ngx-pagination a {
  color: white;
  font-size: large;
}


.paginator::ng-deep .ngx-pagination a:hover {
  background: #3C1F62;
  border-radius: 3px;
  padding-left: 9px;
  padding-right: 9px;
  text-decoration: none;
}