<div class="grid-cols-1 flex justify-center bg-main min-h-[80vh]" id="main" *ngIf="getGames.length > 0; else noGames">
    <div class="container">
        <div class="grid-cols-1 flex justify-center">
            <input type="text" class="rounded-[20px] w-[300px] xl:w-[400px] p-3 m-6 bg-violet-200" id="search"
                name="search" placeholder="Tekken, Ark, Fallout..." #search (keyup.enter)="searchGame(search.value)">
        </div>
        <div class="flex justify-around flex-wrap">
            <div class="rounded-lg shadow-lg max-w-[280px] mt-[40px] mb-10 bg-card card" *ngFor="let game of getGames">

                <img class="rounded-t-lg" src="{{game.URL}}" alt="Imagen no disponible" width="280px" />

                <div class="p-4">
                    <h5 class="text-white text-xl font-medium mb-5">{{game.name}}</h5>
                    <!-- <p class="text-gray-400 mb-4 text-xl font-medium">{{game.price}}€</p> -->
                    <div id="button-container" class="flex justify-evenly p-5" style="display: none;">
                        <a [routerLink]="['./', game.id]">
                            <p-button  styleClass="p-button-outlined p-button-success" class="mb-3"><i class="pi pi-pencil py-2" style="font-size: 18px;"></i></p-button>
                        </a>
                        <p-button styleClass="p-button-outlined p-button-danger"><i class="pi pi-trash py-2" style="font-size: 18px;"></i></p-button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #noGames>
    <div class="grid-cols-1 flex justify-center bg-main min-h-[80vh]" id="main">
        <div class="rounded-lg shadow-lg bg-card max-w-[700px] mt-[40px] h-[100px]">
            <p class="text-3xl p-5 text-white text-center">No se ha encontrado ningún juego</p>
        </div>
    </div>
</ng-template>