<div class="grid-cols-1 flex justify-center items-center bg-main main min-h-[71.5vh]">
    <div class="flex justify-center">
        <div class="p-[40px] my-7 rounded-lg shadow-lg min-w-4xl bg-forms">
            <h1 class="text-white text-4xl leading-tight font-medium mb-2">Registro</h1>
            <hr>
            <form [formGroup]="registerForm" (ngSubmit)="register()" class="flex flex-col items-center px-5" novalidate>
                <div class="mt-10 grid-cols-1 w-[100%]">
                    <span class="p-float-label">
                        <input pInputText id="userName" formControlName="userName" />
                        <label htmlFor="userName">Nombre de usuario *</label>
                    </span>

                    <span *ngIf="isValidField('userName')" class="text-red-500">{{getFieldError("userName")}}</span>
                </div>

                <div class="mt-10 grid-cols-1 w-[100%]">
                    <span class="p-float-label">
                        <input pInputText id="email" formControlName="email" />
                        <label htmlFor="email">Email *</label>
                    </span>

                    <span *ngIf="isValidField('email')" class="text-red-500">{{getFieldError("email")}}</span>
                </div>

                <div class="mt-10 grid-cols-1 w-[100%]">
                    <span class="p-float-label ">
                        <p-password formControlName="password" [feedback]="true" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"></p-password>
                        <label htmlFor="password">Contraseña *</label>
                    </span>

                    <span *ngIf="isValidField('password')" class="text-red-500">{{getFieldError("password")}}</span>
                </div>

                <div class="mt-10 grid-cols-1 w-[100%]">
                    <span class="p-float-label ">
                        <p-password formControlName="password2" [feedback]="false" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"></p-password>
                        <label htmlFor="password2">Repite la contraseña *</label>
                    </span>

                    <span *ngIf="isValidField('password2')" class="text-red-500">{{getFieldError("password2")}}</span>
                </div>

                <div class="mt-10 grid-cols-1 w-[100%]">
                    <span class="p-float-label">
                        <input pInputText id="phoneNumber" formControlName="phoneNumber" />
                        <label htmlFor="phoneNumber">Teléfono</label>
                    </span>

                    <span *ngIf="isValidField('phoneNumber')" class="text-red-500">{{getFieldError("phoneNumber")}}</span>
                </div>

                <div *ngIf="showAlert" class="mt-10 w-[100%]">
                    <div class="mb-3 inline-flex w-full items-center rounded-lg bg-red-200 py-5 px-6 text-base text-red-700"
                        role="alert">
                        <span class="mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" class="h-5 w-5">
                                <path fill-rule="evenodd"
                                    d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z"
                                    clip-rule="evenodd" />
                            </svg>
                        </span>
                        {{message}}
                    </div>
                </div>

                <div class="flex justify-center mt-10">
                    <button pButton pRipple type="submit" label="Registrarme"
                        class="p-button-outlined p-button-help"></button>
                </div>
            </form>
        </div>
    </div>
</div>