<div class="grid-cols-1 flex justify-center items-center bg-main main min-h-[71.5vh]">
    <div class="flex justify-center">
        <div class="p-[40px] my-7 rounded-lg shadow-lg min-w-4xl bg-forms">
            <h1 class="text-white text-4xl leading-tight font-medium mb-2">Inicio de sesión</h1>
            <hr>
            <form [formGroup]="loginForm" (ngSubmit)="logIn()" class="flex flex-col items-center px-5">
                <div class="mt-10 grid-cols-1 w-[100%]">
                    <span class="p-float-label">
                        <input pInputText id="email" formControlName="email" />
                        <label htmlFor="email">Email *</label>
                    </span>
                    <span *ngIf="isValidField('email')" class="text-red-500">{{getFieldError("email")}}</span>
                </div>
                <div class="mt-10 mb-10 grid-cols-1 w-[100%]">
                    <span class="p-float-label ">
                        <p-password formControlName="password" [feedback]="false" [style]="{'width':'100%'}"
                            [inputStyle]="{'width':'100%'}"></p-password>
                        <label htmlFor="password">Contraseña *</label>
                    </span>

                    <span *ngIf="isValidField('password')" class="text-red-500">{{getFieldError("password")}}</span>

                    <div *ngIf="loginError" class="flex justify-center w-[100%] mt-5">
                        <p class="text-red-500">{{loginErrorMessage}}</p>
                    </div>
                </div>

                <div class="flex justify-center">
                    <button pButton pRipple type="submit" label="Iniciar sesión"
                        class="p-button-outlined p-button-help"></button>
                </div>
            </form>
        </div>
    </div>
</div>