h2 {
    font-family: 'Audiowide', cursive;
}

.one {
    background-color: rgba(192, 103, 255, 0.499) !important;
    font-weight: bold;
}

.ranking::ng-deep tr {
    background-color: #01010165;
    color: white;
}

.ranking::ng-deep th {
    background-color: #01010165 !important;
    color: white !important;
}