<div class="grid-cols-1 flex justify-center items-center bg-main main min-h-[71.5vh]">
    <div class="flex justify-center">
        <div class="p-10  rounded-lg shadow-lg min-w-4xl bg-forms">
            <div class="credit-card">
                <div class="flex justify-center mb-10">
                    <img src="../../../../assets/credit-card.gif" alt="Iamgen no disponible">
                </div>
                <div #cardInfo class="mb-5">

                </div>
                <span class="error text-red-500" *ngIf="cardError">{{ cardError }}</span>
                <span class="text-red-500" *ngIf="showPaymentError">No se ha podido realizar el pago</span>
                <div *ngIf="!cardError; else disabledButton" class="mt-10 flex items-center justify-center">
                    <p-button label="Realizar pago" styleClass="p-button-outlined p-button-help"
                        (onClick)="getToken()"></p-button>
                    <div *ngIf="showSpinner" class="loader ml-5">
                    </div>
                </div>
                <ng-template #disabledButton>
                    <div class="mt-10 flex items-center justify-center">
                        <shared-disabled-button [message]="'Añadir al carrito'"></shared-disabled-button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>